// TODO

.container {
  max-width: 720px;
  margin: 0 auto;

  ul {
    margin: 3rem 0;

    li {
      margin-bottom: 2.5rem;
      cursor: pointer;
      & + li {
        margin-bottom: 2.5rem;
      }

      h2 {
        margin-bottom: 0.125rem;
        font-size: 28px;
        font-weight: bold;
      }

      p {
        margin-bottom: 1.25rem;
        font-size: 18px;
      }
      p,
      span {
        color: var(--gray-50);
      }
      span {
        font-size: 14px;
        &:first-child {
          margin-right: 1.25rem;
        }
      }
    }
  }
}

.button {
  background-color: transparent;
  border: none;
  color: var(--pink);
  font-weight: 600;
  font-size: 18px;
  cursor: pointer;

  transition: filter 0.2s;

  &:hover {
    filter: brightness(0.7);
  }
}
